body{
    font-family: 'Montserrat', sans-serif;
    background: #1a2032
}

.logo{
    width: 6%;
    text-align: left;
    margin: 25px 50px;
}

#id1{
    width: 600px;
    position: absolute;
    left: 150px;
    top: 180px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 32px;
    line-height: 150%;
    background: none;
    border-radius: 10px;
    border-style: none;
    border-width: 3px;
}

.alerta{
    color: #ffffff;
    position: absolute;
    left: 150px;
    top: 550px;
}

.encriptar{
    position: absolute;
    top: 600px;
    left: 150px;
    width: 250px;
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
    transition: 500ms all;
    cursor: pointer;
}

.encriptar:hover{
    background-color: #1d83d4;
    transform: scale(1.1);
}

.desencriptar{
    position: absolute;
    top: 600px;
    left: 500px;
    width: 250px;
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
    transition: 500ms all;
    cursor: pointer;
}

.desencriptar:hover{
    background-color: #1d83d4;
    transform: scale(1.1);
}

#caja{
    width: 450px;
    height: 600px;
    background: #dadada;;
    border-width: 5px;
    border-radius: 25px;
    position: absolute;
    right: 25px;
    top: 40px;
    text-align: center;
    text-justify: auto;
    padding: 20px 20px;
}

.encriptado{
    width: 70%;
    margin: 60px 56.25px;
}

.copiar{
    position: absolute;
    top: 600px;
    right:150px;
    width: 250px;
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
    transition: 500ms all;
    cursor: pointer;
}

.copiar:hover{
    background-color: #1d83d4;
    transform: scale(1.1);
}

footer{
    position: relative;
    top: 550px;
    width: 940px;
    margin: 0   auto;
}

.copyright{
    padding: 40px 0px;
    color: #ffffff;
    text-align: center;
}

/*Aqui comienza el código correspondiente a la visualización en dispositivos móviles*/

/*@media screen and (max-width: 480px){
.logo{
    width: 35%;
}

#id1{
    top: 220px;
}

.encriptar{
    width: 740px;
    top: 500px;
    left: 100px;
}

.desencriptar{
    width: 740px;
    left: 100px;
}

#caja{
    width: 700px;
    left: 100px;
    top: 700px;
}

.encriptado{
    width: 50%;
}

.copiar{
    width: 740px;
    left: 100px;
    top: 1400px;
}

footer{
    top: 1400px;
}

}*/

@media screen and (max-width: 900px){

    .logo{
        width: 15%;
    }

    #id1{
        top: 250px;
    }

    .alerta{
        width: 1000px;
        left: 100px;
    }

    .encriptar{
        width: 350px;
        left: 100px;
    }

    .desencriptar{
        width: 350px;
        right: 100px;
    }

    #caja{
        width: 700px;
        left: 100px;
        top: 700px;
    }

    .encriptado{
        width: 45%;
    }

    .copiar{
        width: 500px;
        top: 1250px;
        left: 225px;
    }

    footer{
        top: 1250px;
    }

    }