body{
    font-family: 'Montserrat', sans-serif;
    background: #1a2032
}

.logo{
    width: 6%;
    text-align: left;
    margin: 25px 50px;
}

#id1{
    width: 600px;
    position: absolute;
    left: 150px;
    top: 180px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 32px;
    line-height: 150%;
    background: none;
    border-radius: 10px;
    border-style: none;
    border-width: 3px;
}

.encriptar{
    position: absolute;
    top: 600px;
    left: 150px;
    width: 250px;
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
    transition: 500ms all;
    cursor: pointer;
}

.encriptar:hover{
    background-color: #1d83d4;
    transform: scale(1.1);
}

.desencriptar{
    position: absolute;
    top: 600px;
    left: 500px;
    width: 250px;
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
    transition: 500ms all;
    cursor: pointer;
}

.desencriptar:hover{
    background-color: #1d83d4;
    transform: scale(1.1);
}

#caja{
    width: 450px;
    height: 600px;
    background: #dadada;;
    border-width: 5px;
    border-radius: 25px;
    position: absolute;
    right: 25px;
    top: 40px;
    text-align: center;
    text-justify: auto;
    padding: 20px 20px;
}

.encriptado{
    width: 70%;
    margin: 60px 56.25px;
}

.copiar{
    position: absolute;
    top: 600px;
    right:150px;
    width: 250px;
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
    transition: 500ms all;
    cursor: pointer;
}

.copiar:hover{
    background-color: #1d83d4;
    transform: scale(1.1);
}
